%%{init: {"flowchart": {"htmlLabels": false}, "themeVariables": {"fontFamily": "Arial, sans-serif"}}}%%
flowchart TD
{% for s in states %}
    {{ s.id }}("  {{ s.label }}  ")
{% endfor %}
{% for t in transitions %}
    {{ t['from'] }} -->|{{ t.event }}| {{ t.to }}
{% endfor %}
