%%{init: {"flowchart": {"htmlLabels": false}}}%%
flowchart TD
{% for s in states %}
    {{ s.id }}("{{ s.label }}")
{% endfor %}
{% for t in transitions %}
    {{ t['from'] }} -->|{{ t.event }}| {{ t.to }}
{% endfor %}
