flowchart LR
    start(( )):::start --> {{ initial }}
{% for s in states %}
    {{ s.id }}("{{ s.label }}")
{% endfor %}
{% for t in transitions %}
    {{ t['from'] }} -->|{{ t.event }}| {{ t.to }}
{% endfor %}
    classDef start fill:#333,stroke:#333
